@import "../bootstrap/less/mixins.less";
@import "local-variables.less";

select, input[type="text"], textarea {
  &:focus {
    outline: none;
  }
}

a.glyphicon {
  color: @brand-info;
  font-size: 16px;
}

.page-header {
  margin: 20px 0 20px;

  .rescan {
    font-size: 22px;
    margin: 5px 10px 0 0;
  }
}

.toolbar {
  a {
    margin-right: 5px;
  }
}

#entry-list {
  .entry {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px @gray-lighter solid;
    .border-top-radius(5px);
    .border-bottom-radius(5px);

    &.orphan {
      .opacity(.3);
    }

    &.edit {
      border: 2px @gray solid;
    }

    .translation-box {
      margin-top: 10px;

      .field {
        margin: 5px 0 0;

        &.original {
          font-weight: bold;
          font-size: 15px;
        }

        &:nth-child(even) {
          .translation {
            background: #c0f0ea;
          }
        }

        &:nth-child(odd) {
          .translation {
            background: #f6fff6;
          }
        }

        .lang-title {
          //width: 70px;
          padding: 5px;
          //margin-right: 5px;
          background: @yellow;
          .border-left-radius(5px);
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
        }
        .translation {
          //margin-left: 70px;
          line-height: 30px;
          min-height: 30px;
          //padding: 5px 5px 5px 15px;

          .input {
            margin-top: 2px;
            line-height: 20px;
            width: 100%;
          }

          textarea {
            resize: vertical;
          }
        }
      }
    }
  }
}

#enabling-language-list {
  label {
    width: 94%;
    margin: 0 5px 5px;

    &:hover {
      background: @gray-lighter;
    }
    input {
      float: right;
    }
  }
}

#enabling-language-box {
  padding: 5px 5px;
}

#pagination {
  display: block;
  width: 500px;
  height: 35px;
  margin: 20px auto 40px;
}

a.disabled {
  opacity: .3;
  color: #777;
}


.search-box {
  position: relative;
}

#search {
  padding-right: 42.5px;
}

#search-clear {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 20px;
  text-align: center;
  color: @gray-light;
  cursor: pointer;
}